* {
    margin: 0;
    font-family: inter;
}

header {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    padding: 0 17%;
    border-bottom:  1px solid #E8E8E8;
}

aside {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.linkedinIcon {
    cursor: pointer;
}

.searchIcon {
    padding-left: 40px;
    background: url("img/search.png") no-repeat left;
    background-color: #EDF3F8;
    background-size: 30px;

    background-position: 10px 5px;
}

input {
    background-color: #EDF3F8;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;

    margin-left: 3px;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    padding: 8px 15px;

    font-size: 12px;

    cursor: pointer;
}

li:hover {
    text-decoration: underline;
}

li:first-child {
    border-bottom: 2px solid black;
}

.forBusiness {
    border-left: 1px solid #E8E8E8;
}

.profilePicture > img {
    border-radius: 100%;
}

/* MAIN */
main {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: start;

    background-color: #F4F2EE;

    padding-bottom: 50px;
}


/* LEFT */

.mainLeft {
    display: flex;
    flex-direction: column;
}

.mainWhiteSection {
    display: flex;
    flex-direction: column;
    text-align: left;

    background-color: white;

    border: 1px solid #DFDEDA;
    border-radius: 8px;

    /* width: 14%; */
    width: 230px;

    margin-top: 20px;
}

.mainWhiteSection > p {
    padding: 10px 15px;

    cursor: pointer;
}

.mainWhiteSection > p:hover {
    text-decoration: underline;
}

.mainWhiteSection > p:first-child {
    margin-top: 7px;
}

.mainWhiteSection > div > img {
    border-radius: 100%;
    margin-bottom: 25px
}

.mainWhiteSection > div > p {
    padding: 1px 0;
    font-size: small;
}

.mainWhiteSection > button {
    border: none;
    padding: 1rem;

    border-top: 1px solid #E8E8E8;
    background-color: transparent;

    cursor: pointer;

    border-radius: 0 0 5px 5px;
}

.mainWhiteSection > button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.mainProfileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    border-bottom: 1px solid #E8E8E8;

    padding: 15px 15px;

    cursor: pointer;
}

#profileName {
    margin-bottom: 10px;
    font-size: medium; 
}

#profileName:hover {
    text-decoration: underline;
}

.mainProfileDiv {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;

    border-bottom: 1px solid #E8E8E8;

    padding: 15px 15px;

    cursor: pointer;
}

.mainProfileDiv:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.greyp {
    color: #666666;
    font-size: 13px;
}

.bluep {
    color: #0A66C2;
    font-size: 0.8em; 
    font-weight: bold;
}

/* LEFT */

/* MIDDLE */

.mainMiddle {
    margin: 0 15px;
}

.mainMiddle > hr {
    margin: 15px 0;
}

.mainWhiteSectionMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: white;

    border: 1px solid #DFDEDA;
    border-radius: 8px;

    width: 530px;

    margin-top: 20px;

    padding: 15px;
}

.mainWhiteSectionMiddle > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    width: 100%;
}

.mainWhiteSectionMiddle > div > img {
    border-radius: 100%;
    width: 50px;
}

.mainWhiteSectionMiddle > div > input {
    border:  1px solid #A4A4A4;
    border-radius: 25px;
    background-color: transparent;

    width: 100%;
    margin: 0 15px;
    padding: 15px;

    transition: ease 0.2s;
}

.mainWhiteSectionMiddle > div > input:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


.mainButtons {
    display: flex;
    justify-content: space-around
}

.mainButtons  > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    margin-top: 10px;
    padding: 10px;

    border: none;
    background-color: transparent;

    cursor: pointer;

    border-radius: 5px;

    transition: ease 0.2s;
}

.mainButtons  > button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


.mainWhiteSectionMiddle > div > button > img {
    width: 30px;
    margin-right: 5px;
}

/* MIDDLE */













/* POSTS */


.mainWhiteSectionPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: white;

    border: 1px solid #DFDEDA;
    border-radius: 8px;

    width: 530px;

    margin-top: 20px;

    padding: 15px;

    text-align: center;
    align-items: center;
}


.mainWhiteSectionPost > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    text-align: center;
}

.mainWhiteSectionPost > div > div{
    display: flex;
    flex-direction: row;

    align-items: center;
    text-align: center;

    font-size: small;
 
}

.mainWhiteSectionPost > div > div > div {
    margin-left: 5px;
}

.mainWhiteSectionPost > div > button{
    margin: 10px 0;
    padding: 0 20px;

    border: none;
    background-color: transparent;

    color: #498ED4;

    font-size: medium;

    cursor: pointer;

    border-radius: 5px;

    transition: ease 0.1s;
}

.mainWhiteSectionPost > div > button:hover{
    background-color: #E2F0FE;
}


.mainWhiteSectionPost > div > div > img{
    width: 50px;
    height: 50px;
    border-radius: 90%;
}

.mainWhiteSectionPost > div > div > div{
    display: flex;
    flex-direction: column;

    text-align: left;
    justify-content: center;
}


.mainPostArticle {
    display: flex;
    flex-direction: column;
    text-align: left;

    align-items: center;
    justify-content: center;
}

.mainPostArticle > p{
    padding: 15px;
    font-size: small;
}

/* .mainPostArticle > img{
    
} */

.mainPostReaction {
    margin: 10px 0;
}

.mainPostReaction > span {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: small;
}

.mainPostReaction > span > p:nth-child(2){
    padding-left: 5px;
}


.mainPostReaction > span > img {
    width: 20px;
}


.mainPostInteraction {
    border-top: 1px solid #DFDEDA;
}

.mainPostInteraction > span {
    display: flex;
    flex-direction: row;

    font-size: small;

    align-items: center;
    justify-content: center;

    margin: 20px 30px 0 30px;
}

.mainPostInteraction > span > img {
    width: 30px;
}

/* POSTS */




















/* RIGHT */

.mainWhiteSectionRight {
    display: flex;
    flex-direction: column;
    text-align: left;

    background-color: white;

    border: 1px solid #DFDEDA;
    border-radius: 8px;

    /* width: 14%; */
    width: 250px;

    margin-top: 20px;

    padding: 20px;
}

.mainWhiteSectionRight > p:first-child {
    margin-bottom: 10px;
}

.mainWhiteSectionRight > p:last-child {
    margin-top: 10px;
    cursor: pointer;
}


.mainWhiteSectionRight > .greyp {
    font-size: 15px;
}

.mainRecomnendationDiv {
    font-size: small;

    display: flex;
    flex-direction: row;

    margin: 8px 0;

    cursor: pointer;
}

.mainRecomnendationDiv > img {
    border-radius: 100%;
}

.mainRecomnendationDiv > div {
    margin-left: 8px;
}

.mainRecomnendationDiv > div > p {
    margin: 4px;
}


.mainRecomnendationDiv > div > button {
    background-color: transparent;

    padding: 5px 25px;

    font-size: medium;
    color: #666666;

    border: black solid 1px;
    border-radius: 15px;

    cursor: pointer;

    transition: ease 0.2s;
}

.mainRecomnendationDiv > div > button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}











/* RIGHT */
