* {
    margin: 0;
    font-family: inter;
}

header {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    padding: 0 17%;
    border-bottom:  1px solid #E8E8E8;
}

aside {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

input {
    background-color: #EDF3F8;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    padding: 8px 15px;

    font-size: 12px;
}

li:first-child {
    border-bottom: 2px solid black;
}

.forBusiness {
    border-left: 1px solid #E8E8E8;
}

.profilePicture > img {
    border-radius: 100%;
}

/* MAIN */
main {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: start;

    background-color: #F4F2EE;
}


/* LEFT */

.mainLeft {
    display: flex;
    flex-direction: column;
}

.mainWhiteSection {
    display: flex;
    flex-direction: column;
    text-align: left;

    background-color: white;

    border: 1px solid #DFDEDA;
    border-radius: 8px;

    /* width: 14%; */
    width: 230px;

    margin-top: 15px;
}

.mainWhiteSection > p {
    padding: 10px 15px;
}

.mainWhiteSection > p:first-child {
    margin-top: 7px;
}

.mainWhiteSection > div > img {
    border-radius: 100%;
    margin-bottom: 25px
}

.mainWhiteSection > div > p {
    padding: 1px 0;
    font-size: small;
}

.mainWhiteSection > button {
    border: none;
    padding: 1rem;

    border-top: 1px solid #E8E8E8;
    background-color: transparent;
}

.mainProfileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    border-bottom: 1px solid #E8E8E8;

    padding: 15px 15px;
}

#profileName {
    margin-bottom: 10px;
    font-size: medium; 
}

.mainProfileDiv {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;

    border-bottom: 1px solid #E8E8E8;

    padding: 15px 15px;
}

.greyp {
    color: #666666;
    font-size: 13px;
}

.bluep {
    color: #0A66C2;
    font-size: 0.8em; 
    font-weight: bold;
}

/* LEFT */

/* RIGHT */

.mainWhiteSectionRight {
    display: flex;
    flex-direction: column;
    text-align: left;

    background-color: white;

    border: 1px solid #DFDEDA;
    border-radius: 8px;

    /* width: 14%; */
    width: 250px;

    margin-top: 15px;

    padding: 20px;
}

.mainWhiteSectionRight > p:first-child {
    margin-bottom: 10px;
}

.mainWhiteSectionRight > p:last-child {
    margin-top: 10px;
}


.mainWhiteSectionRight > .greyp {
    font-size: 15px;
}

.mainRecomnendationDiv {
    font-size: small;

    display: flex;
    flex-direction: row;

    margin: 8px 0;
}

.mainRecomnendationDiv > div {
    margin-left: 8px;
}

.mainRecomnendationDiv > div > p {
    margin: 4px;
}


.mainRecomnendationDiv > div > button {
    background-color: transparent;

    padding: 8px 25px;

    border: black solid 1px;
    border-radius: 15px;
}













/* RIGHT */
